.infoWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chartContainer {
  margin-top: 15px;
  width: 100%;
  flex: 1;
}

.stats {
  height: 40px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
