.rootContainer {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.infoContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controlContainer {
  height: 32px;
}
